.otp-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    /* Jarak antar kotak */
    margin-bottom: 20px;
}

.otp-box {
    width: 60px;
    height: 60px;
    border: 2px solid #ddd;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    outline: none;
    transition: 0.3s;
    background-color: #fafafa;
}

.otp-box:focus {
    border-color: #4CD964;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(76, 217, 100, 0.2);
    transform: scale(1.05);
}

.resend-disabled {
    color: #999 !important;
    /* Abu-abu */
    cursor: not-allowed;
    /* Kursor tanda dilarang */
    pointer-events: none;
    /* Tidak bisa diklik */
}


/* Saat waktu habis dan boleh diklik (Active) */

.resend-active {
    color: #4CD964 !important;
    /* Hijau Aplikasi */
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-icon {
    width: 80px;
    height: 80px;
    background-color: #4CD964;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    font-size: 32px;
    box-shadow: 0 4px 10px rgba(76, 217, 100, 0.3);
}

.brand-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.brand-subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}

.text-green {
    color: #4CD964;
}

.text-blue {
    color: #2196F3;
}

.text-black {
    color: #000000;
}

.tagline {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

#toggleRegPassword {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

#toggleConfirmPassword {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.input-field {
    width: 100%;
    padding: 15px 20px;
    border: 1.5px solid #333;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    padding-right: 45px;
}

.input-field:focus {
    border-color: #4CD964;
}

.btn-login {
    width: 80%;
    padding: 12px;
    background-color: #3cba2c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
    background-color: #32a022;
}

.footer-links {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-links span {
    margin: 0 5px;
}